header{
background-color: #ecece780;
padding: 1 0px;
text-align: center;
position: fixed;
width: 100%;
z-index: 1;
top: 0;
left: 0;
}
header h1{
    color: black;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 10px;
}
.banner{
    position: relative;
}
.banner img{
    max-width: 100%;
}
.banner .welcome{
    background-color: #74992e;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%;    
}
.banner h2{
    font-size: 30px;
    background-color: #74992e;
    color: white;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 30%; 
}
.my-projects{
    background-color: goldenrod;
    }
    .my-projects h3{
        font-size: 25px;       
    }
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2{
    color: rgb(7, 7, 7);
    font-size: 48px;
}
article p{
    padding: auto;
    line-height: 2em;
    color: #151515;
}
.img{
    text-align: centre;
    margin: 80px 0;
    white-space: nowrap;
}
.img li{
    display: inline-block;
    width: 500px;
    margin: 20px 5px;
}
.img li img{
    max-width: 100%;
}
.hobbies{
    text-align: left;
    background: burlywood;
    padding: 60px 20px;
    color: #151515;
}

    